@font-face {
  font-family: nf;
  src: url("../src/assets/fonts/IRANSans.ttf");
}
@font-face {
  font-family: bf;
  src: url("../src/assets/fonts/IRANSansBold.ttf");
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  border: 0;
  outline: none;
  direction: rtl;
  box-sizing: border-box;

  --primery-color: #042069;
  --pale-color: #777;
  --error-color: #cc4444;
  --title-color: #444;
  --bg-color: #f8f8f8;

  --margin-bottom: 70px;
}

html {
    font-family: nf;
    background-color: var(--bg-color);
}

button {
    font-family: bf;
    cursor: pointer;
}
