.wrapper {
  width: 90%;
  position: fixed;
  bottom: 0;
  display: flex;
  background-color: #fff;
  z-index: 100;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2);
  padding: 15px 30px;
  align-items: center;
  justify-content: space-around;
  border-radius: 50px 50px 0 0;
}

.bnItem {
  cursor: pointer;
  transition: 0.3s;
  color: var(--pale-color);
}

.bnItem:hover {
  opacity: 0.5;
}

.bnItemOn {
  color: var(--primary-color);
}
.bnItemOff {
  color: var(--pale-color);
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 70%;
  }
}
@media (min-width: 992px) {
  .wrapper {
    max-width: 60%;
  }
}
